
.section1{
   height: fit-content;
}

.section1 div{
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
}

.section1 h1{
    font-weight: bold;
    font-size: 50px;
    
    margin: auto;
}

.section1 h3{
    font-weight: 600;
    
}

.section2{
    max-width: 800px;
    margin: auto;
}

.section2 img{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

