@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: white;
}
.hoved{
    display: flex;
    margin-top: 30px;
    margin-right: 30px;
}

.hovedbilde{
    height: 200px;
    width: 100%;
}

.section1 {
    height: fit-content;
    margin-left: 30px;
}

.section1 div {
    max-width: 700px;
    margin-top: 20px;
    
}

.section1 h1 {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 50px;
    font-style: normal;
    margin: auto;
    margin-bottom: 10px;
}

.section1 h3 {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    margin-bottom: 10px;
}

.section2 div{
    margin-left: 30px;
    background-color: rgb(114, 60, 126);
    color: white;
    border-radius: 2px;
    padding: 20px;
    width: 600px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.section2 div h2{
    margin-left: 20px;
    color: rgb(226, 239, 248);
}

.section2 div li{
    padding: 10px;
}

.section2 div button{
    background-color: rgb(226, 239, 248);
    padding: 10px;
    border-radius: 15px;
    color: rgb(114, 60, 126);
    width: 100px;
    margin-left: 50px;
    margin-top: 15px;
}

#collapsable.kort ul{
    height: 100px;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, black 70%, transparent);
                -webkit-mask-image: linear-gradient(
                    to bottom,
                    70%,
                    transparent
                );
}

.section3{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 40px;
    gap: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.bilde1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.bilde1 img{
    width: 70%;
    height: 250px;
    margin: auto;
}

.bilde1 h3{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.avsnitt p{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 10px;
}

.section4{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

#S4img{
    height: 400px;
    width: 550px;
    border-radius: 5px;
}

.section4 div h3{
    text-align: center;
    font-weight: 500;
    padding: 10px;
}

.section4 div{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 18px;
}

@media (width<800px){

    .hoved{
    display: flex;
    margin-top: 30px;
    margin-right: 30px;
    flex-direction: column;
    gap: 20px;
}

    .section3{
    display: grid;
    grid-template-columns: 2fr;
    margin-top: 40px;
    gap: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.section4{
    display: grid;
    grid-template-columns: 2fr;
    gap: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.section4 div{
    margin-top: 20px;
}

#S4img{
    height: 400px;
    width: 550px;
    border-radius: 5px;
    margin: auto;
}

}




