body {
    color: black;
    padding: 10px;

}

.container {
    max-width: 1100px;
    margin: auto;
    background: white;
    border-radius: 10px;
    padding: 50px;
}

h1 {
    color: cornflowerblue;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    border-bottom: 3px solid darkblue;
    padding-bottom: 20px;
}

section {
    margin-bottom: 50px;
}

h2 {
    color: darkslateblue;
    margin-bottom: 25px;
    font-size: 40px;
    border-left: 5px solid cornflowerblue;
    padding-left: 15px;
    font-weight: 500;
}

h3 {
    color: cornflowerblue;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
}

p {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: justify;
}

.viktig {
    background: lightgoldenrodyellow;
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid lightsalmon;
    margin: 25px;
}

.info {
    background: aliceblue;
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid lightskyblue;
    margin: 25px;
}

.eksempel {
    background-color: rgb(247, 247, 247);
    padding: 25px;
    border-radius: 10px;
    margin: 25px;
    border: 2px solid lightgray;
}

.eksempel h4 {
    color: #495057;
    margin-bottom: 15px;
    font-size: 20px;
}

table {
    width: 100%;
    margin: 25px;
    border-radius: 20px;
    overflow: hidden;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background: cornflowerblue;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background: rgb(247, 247, 247);
}

ul,
ol {
    margin-left: 40px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
    font-size: 20px;
}

b {
    color: darkslateblue;

}

.sammenlingning-grid {
    display: grid;
    grid-template-columns: repeat(250px, 1fr);
    gap: 20px;
    margin: 25px;
}

.sammenlingning {
    background: rgb(247, 247, 247);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid lightgray;
    text-align: center;
}

.sammenlingning h4 {
    color: #667eea;
    margin-bottom: 5px;
    font-size: 30px;
}

.formel {
    background: #f1f3f5;
    padding: 15px;
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    margin: 20px;
    text-align: center;
    font-size: 1.1em;
}