.boks{
    width: 700px;
    border-radius: 10px;
    background-color:#90b0d7;
    width: 700px;
    border: solid 2px  rgb(10 34 56) ;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    padding: 40px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.container{
    margin-top: 40px;
    margin-bottom: 40px;
}
.oppsummering{
    background-color: rgb(10 34 56);
    color: white;
}


.boks h2{
    text-align: center;
}
h1{
    text-align: center;
    border-bottom: black solid 4px;
    width: 700px;
    margin: auto;
    margin-top: 40px;
    font-size: 50px;
    font-weight: bold;
}
