/* Minimal css reset */

/* Reset box-sizing to border-box for easier layout calculations */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins from all elements */
* {
  margin: 0;
}

/* Optional: Set a base font size and line height for the body */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* Improve text rendering on WebKit browsers */
}

/* Optional: Ensure images and media are responsive */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Optional: Remove default styles from form elements and ensure font inheritance */
input,
button,
textarea,
select {
  font: inherit;
}

/* Optional: Prevent text overflows in pre-formatted text */
pre {
  white-space: pre-wrap;
}

/* Optional: Improve accessibility for interactive elements */
a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* END minimal CSS reset */

/* Lik header og footer på alle nettsider */

header {
  background-color: rgb(10 34 56);
  color: white;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}

.logo img {
  max-width: 160px;
  height: auto;
}

header nav {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;

}

header nav a {
  transition: transform 0.2s ease;
  padding-bottom: 10px;
}

header nav a:hover {
  transform: scale(1.1);
  ;

}

.home-icon {
  font-size: 24px;
  display: flex;
  align-items: center;
}

footer {
  background-color: rgb(10 34 56);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 200;
  width: 100%;
  gap: 15px;

}

footer .snarveier,
.footerinfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 180px;
}

footer .snarveier a {
  transition: transform 0.2s ease;
}

footer .snarveier a:hover {
  transform: scale(1.1);
  text-decoration: underline;

}

footer h3{
  color: white;
  font-size: large;
}

header b,
footer b {
  color:white;

}

footer ul,
footer li,
footer p {
   margin-left: 0;
    margin-bottom: 0;
    font-size: large;
}

@media (max-width: 780px) {
  header {
    font-size: smaller;
  }

  .logo img {
    max-width: 120px;
  }

  header nav {
    justify-content: flex-end;
  }

  footer {
    padding: 20px;
    gap: 10px;
    font-size: smaller;
  }

  footer .snarveier,
  footer .info {
    min-width: auto;
    width: 100%;
  }
}