#s1 {
    height: fit-content;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 40px;
    padding: 10% 15%;

}

.grid a {
    transition: transform 0.5s ease;
}

.hoved {
    grid-column: span 2;
    grid-row: span 2;
}

.liten {
    grid-column: span 1;
}

.stor {
    grid-column: span 2;
}

article {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: rgba(0 50 104);
    background-color: rgba(0, 50, 104, 0.1);
}

.guide {
    background-color: rgb(30 35 74);

}

.guide h1 {
    color: white;
}

.guide h2 {
    color: rgb(179 245 255);
}

.stor article {
    display: flex;
    flex-direction: row;
}

.stor img {
    width: 70%;
}


h1 {
    margin: 20px 0 10px;
    font-size: xxx-large;
}

h2 {
    color: rgb(63, 70, 88);
}

.tekst {
    padding: 0 20px 20px;
    flex: 1;
}

.tekst h1,
h2 {
    text-align: start;
}

#s2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.karusell {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 20%;
    padding: 15px 40px 50px;
    max-width: 100%;
    color: white;
    width: 75%;
    height: auto;


}

.karusell a {
    flex: 0 0 80%;
    scroll-snap-align: center;
    transition: transform 0.3s ease;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgba(0, 50, 104, 0.1);
    color: black;

}

a:hover {
    transform: scale(1.05);
}

.karusell::-webkit-scrollbar {
    height: 10px;
    padding-bottom: 10px;
}

.karusell::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.karusell::-webkit-scrollbar-thumb {
    background: lightblue;
    border-radius: 10px;
}

.karusell::-webkit-scrollbar-thumb:hover {
    background: rgba(0 50 104);
}

aside {
    border-radius: 20px;
    width: 160px;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 10px;
    top: 100px;
    z-index: 500;
}

footer {
    position: relative;
    z-index: 1000;
}

@media (width < 1150px) {
    aside {
        display: none;
    }

    .grid {
        padding: 10% 10%;
        gap: 30px;
    }

}

@media (width < 1000px) {
    .grid {
        padding: 10% 7%;
        gap: 25px;
    }

    h1 {
        font-size: xx-large;
    }

    .karusell {
        width: 90%;
        padding: 15px 20px 50px;
    }
}

@media (width < 750px) {
    .grid {
        grid-template-columns: 1fr;
        padding: 15% 5%;
        gap: 50px;
    }

    .hoved,
    .liten,
    .stor {
        grid-column: span 1;
    }

    .hoved {
        grid-row: span 1;
    }

    .stor article {
        flex-direction: column;
    }

    .stor img {
        width: 100%;
    }

    .tekst h1,
    .tekst h2 {
        text-align: center;
    }

}